body{
    background-color: rgb(131, 43, 226);

}

h1{
    background-color: rgb(135, 34, 153);
    color: rgb(42, 29, 0);
    text-align: center;
    box-shadow: 5px 5px 5px rgb(54, 13, 49);
    padding: 15px ;
    border-radius: 30px 30px 30px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a{
    background-color: purple;
    color: aliceblue;
    font-size: 25PX;
    border-radius: 10px 10px ;
    box-shadow: 10px 10px 7px rgb(76, 0, 76);
    font-family:fantasy;
}
p{
    background-color: rgb(234, 171, 255);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 10px 10px rgb(81, 4, 81);
}

button{
    background-color: rgb(235, 47, 248);
    box-shadow: 5px 5px rgb(180, 32, 111);
    color: aliceblue;
    border-color: rgb(242, 0, 255);
    text-align: center;
}

footer{
    text-align: center;
}